<app-header></app-header>

<main id="main" class="main">
    <!-- Active Table -->
    <table class="table table-borderless table-primary ">
      <thead>
        <tr class="">
          <th scope="col">#</th>
          <th scope="col">NOM</th>
          <th scope="col">PRENOM</th>
          <th scope="col">NAISS</th>
          <th scope="col">SEXE</th>
          <th scope="col">TELEPHONE</th>
          <th scope="col"> EMAIL</th>
          <th scope="col">CYCLE</th>
          <th scope="col">FILIERE</th>
          <th scope="col">ACTION</th>

        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <th scope="row">1</th>
          <td>Vianey</td>
          <td>yovo</td>
          <td>22/05/1997</td>
          <td>M</td>
          <td>2827849258</td>
          <td>vianney&#64;ensitech.com</td>
          <td>Licence</td>
          <td>Agronomie</td>
          <td>Suprimer</td>

         
        </tr>
        <tr class="table-warning">
          <th scope="row">2</th>
          <td>Fall</td>
          <td>Omar</td>
          <td>18/03/1991</td>
          <td>M</td>
          <td>0747643420</td>
          <td>fallomar0123&#64;ensitech.com</td>
          <td>Master</td>
          <td>Informatique</td>
          <td>Suprimer</td>

        </tr>
        <tr class="table-light">
          <th scope="row">3</th>
          <td>Fabrice</td>
          <td>Nakam</td>
          <td>01/01/1995</td>
          <td>M</td>
          <td>058496825</td>
          <td>fabrice&#64;ensitech.com</td>
          <td>Doctorat</td>
          <td>Conception</td>
          <td>Suprimer</td>

        </tr>
        <tr class="table-secondary">
          <th scope="row">4</th>
          <td>Justin</td>
          <td>Gode</td>
          <td>02/02/1998</td>
          <td>M</td>
          <td>0254985652</td>
          <td>justin&#64;ensitech.com</td>
          <td>Licence</td>
          <td>Ressources humaines</td>
          <td>Suprimer</td>

        </tr>
        <tr class="table-info">
          <th scope="row">5</th>
          <td>John</td>
          <td>Mensah</td>
          <td>03/03/1998</td>
          <td>M</td>
          <td>282782549</td>
          <td>john&#64;ensitech.com</td>
          <td>Licence</td>
          <td>Batiment BTP</td>
          <td>Suprimer</td>

        </tr>
        <tr class="table-warning">
          <th scope="row">6</th>
          <td>Saturnin</td>
          <td>Ahoussino</td>
          <td>10/02/1998</td>
          <td>M</td>
          <td>2827849258</td>
          <td>saturnin&#64;ensitech.com</td>
          <td>Licence</td>
          <td>Design</td>
          <td>Suprimer</td>

        </tr>
        <tr class="table-light" >
          <th scope="row">7</th>
          <td>R</td>
          <td>Romuald</td>
          <td>20/01/1998</td>
          <td>M</td>
          <td>2254985684</td>
          <td>romuald&#64;ensitech.com</td>
          <td>Licence</td>
          <td>Design</td>
          <td>Suprimer</td>

        </tr>
      </tbody>
    </table>
  </main>